.stocks-list {
	display: flex;
	flex-direction: column;
	margin: 30px;
	width: 400px;

	.stock-info-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 80px;
		border: 1px solid lightgray;
		border-bottom: none;

		.identifier {
			display: flex;
			flex-direction: column;
			line-height: 0;
			margin: 10px;

			h2 {
				margin-left: 0;
				margin-bottom: 5px;
			}

			h4 {
				color: gray;
			}
		}

		.current-price {
			display: flex;
			flex-direction: column;
			margin: 15px;
			line-height: 25px;
			font-weight: bold;

			.close {
				color: blue;
			}

			.price-change-up {
				color: green;
			}

			.price-change-down {
				color: red;
			}
		}
	}

	> :first-child {
		border-radius: 4px 4px 0 0;
	}
	> :last-child {
		border-bottom: 1px solid lightgray;
		border-radius: 0 0 4px 4px;
	}
}
