.stocks-list {
	display: flex;
	flex-direction: column;
	margin: 30px;
	width: 800px;

	.stock {
		display: flex;
		align-items: center;
		// padding: 10px;
		height: 80px;
		border: 1px solid lightgray;
		border-bottom: none;

		.identifier {
			display: flex;
			flex-direction: column;
		}
	}

	> :first-child {
		border-radius: 4px 4px 0 0;
	}
	> :last-child {
		border-bottom: 1px solid lightgray;
		border-radius: 0 0 4px 4px;
	}
}
